<div class="overlay-bg"></div>
<div class="listing-bc">
<div class="container">
    <div class="row bg" style="padding-top: 150px;"> 
        <div class="col-md-6 listing">
            <div class="box">
                <img src="../../../assets/images/icon-2.png">
                <h3>Je veux un bien</h3>
                <button class="louer un-bien" (click)="goToLink('listings')"> Louer un-bien - Acheter un bien
                </button>
            </div>
        </div>
        <div class="col-md-6 listing">
            <div class="box">	
            <img src="../../../assets/images/icon.png">
            <h3>Je veux publier un bien</h3>
            <button class="louer un-bien" (click)="goToLink('join-us')"> Mettre en Location - Vendre</button>
            </div>
        </div>
    </div>
</div>

</div>