.listing-bc {
    background-image: url(../../../assets/images/building.jpg);
    background-size: cover;
    height: 450px;
    position: relative;
}
body{
    background-color:#fff !important;
}
.box{
    background: #fff;
    width: 70%;
    padding: 25px 0px;
    height: 400px;
    }
.heading{
    text-align: center;
}
.image{
    height: 100px;
    width: 50%;
}
.box img {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 20%;
}

.playstore-image {
    width: 70%;
    margin-top: 0px !important;
}
.house{
    width: 100% !important;
}
.text{
    text-align: justify;
}
.box h3 {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 24px;
    color: #ff5722;
    text-align: center;
}
button.louer.un-bien {
    background: #ff5722;
    padding: 195px;
    border-radius: 5px;
    padding: 15px 35px 15px 39px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 80%;
}
.listing{
    text-align: center;
}
.dark-overlay{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: #00000082;
}
