
<div class="about">
    <div class="aboutus">
        <div class="overlay">
Conditions Générales d’Utilisation      
  </div>
    </div>
    <div class="gray">
        <p>
            <span>Les présentes Conditions Générales
                d’Utilisation ont pour objet de définir les modalités de mise à disposition du
                site&nbsp; </span>
            <span><a href="http://www.yedexpertises.com"><span>www.yedexpertises.com</span></a></span>
            <span> et de
                l’application yed immobilier sur Android (Google Play Store) ainsi que les
                conditions d’utilisation, par l’Internaute, des Services qui y sont proposés.</span>
        </p>
    
        <p>
            <span>Les Conditions Générales
                d’Utilisation s’appliquent à tout accès et/ou à toute consultation du Site par
                un Internaute et, plus généralement, par tout tiers, personne physique ou
                personne morale.</span>
        </p>
    
        <p>
            <span>L’utilisation du Site est réservée
                aux personnes majeures. Si tel n’est pas le cas, l’Internaute est invité à se
                déconnecter.</span>
        </p>
    
        <p><span>En poursuivant sur le Site,
                l’Internaute reconnaît avoir pris connaissance des présentes Conditions Générales
                et déclare expressément les accepter sans réserve.</span>
        </p>
    
        <p><span>Les présentes Conditions Générales
                pouvant faire l’objet de modifications, les Conditions applicables sont celles
                en vigueur et accessibles sur le Site Internet à la date d’accès au Site
                Internet par l’Internaute. Il appartient à l’Internaute de consulter
                régulièrement cette page afin de prendre connaissance des éventuelles
                actualisations ou modifications des Conditions Générales d’Utilisation, qui
                prennent effet dès leur mise en ligne. Nous nous réservons également le droit
                de modifier, d’interrompre ou de suspendre tout ou partie des fonctionnalités
                ou du contenu du Site, à tout moment et sans préavis. Nous ne pourrons être
                tenus responsables de telles modifications.</span>
        </p>
    
        <p><span>Les termes précédés d’une majuscule
                sont définis à l’article &quot; Définitions &quot;.</span></p>
    
        <p><b><span>Définitions</span></b></p>
    
        <p><b><span>Compte Utilisateur</span></b><span lang=FR>&nbsp;:
                désigne indifféremment le Compte Utilisateur Personnel ou le Compte Utilisateur
                Professionnel ouvert par un Internaute sur le Site conformément aux Conditions
                Générales d’Utilisation.</span></p>
    
        <p><b><span>Compte Utilisateur
                    Personnel</span></b><span lang=FR>&nbsp;:
                désigne le compte à usage personnel ouvert par un Internaute sur le Site
                conformément aux Conditions Générales d’Utilisation préalablement acceptées par
                ce dernier.</span></p>
    
        <p><b><span>Compte Utilisateur
                    Professionnel</span></b><span lang=FR>&nbsp;:
                désigne le compte à usage professionnel ouvert par Yed immobilier, au nom de
                l’Utilisateur Professionnel sur la base des informations contractuelles
                communiquées par ce dernier, conformément aux Conditions Générales
                d’Utilisation Professionnelle préalablement acceptées par ce dernier.</span></p>
    
        <p><b><span>Conditions
                    Générales d’Utilisation</span></b><span>&nbsp;: désigne les conditions générales
                d’utilisation.</span></p>
    
        <p><b><span>Conditions
                    Générales d’Utilisation Professionnelle</span></b><span lang=FR>&nbsp;: désigne
                les conditions générales d’utilisation professionnelle.</span></p>
    
        <p><b><span lang=FR>Données à
                    caractère personnel</span></b><span>&nbsp;: désigne les informations, sous quelque forme
                que ce soit, se rapportant directement ou indirectement à une personne physique
                identifiée ou identifiable telles que le nom, prénom, date de naissance, le
                numéro d’adhérent, le numéro de sécurité sociale, l’adresse IP, les données de
                connexion…</span></p>
    
        <p><b><span>Internaute</span></b><span>&nbsp;:
                désigne toute personne physique majeure qui accède au Site Internet ou à
                l’application mobile dans le cadre d’un usage privé ou professionnel. Celui-ci
                peut devenir Utilisateur dans les conditions des présentes.</span></p>
    
        <p><b><span>Partenaires</span></b><span>&nbsp;:
                désigne les partenaires économiques de Yed Expertise préalablement sélectionnés
                par ce dernier, y compris les agences partenaires émettrices des annonces sur
                le Site et/ou ayant demandé à créer un Compte Utilisateur Professionnel en
                ligne.</span></p>
    
        <p><b><span>Responsable de
                    traitement</span></b><span>&nbsp;:
                désigne la société Yed Expertise qui, seule ou conjointement avec d’autres,
                détermine les finalités et les moyens du traitement des données à caractère
                personnel.</span></p>
    
        <p><b><span>Sous-traitant</span></b><span>&nbsp;:
                désigne toute entreprise qui traite des données à caractère personnel pour le
                compte du Responsable du traitement.</span></p>
    
        <p><b><span>Site ou Site
                    Internet</span></b><span>&nbsp;:
                désigne le service électronique interactif édité et exploité par la société Yed
                Expertise, accessible notamment via l’adresse </span><span><a href="https://www.yedexpertises.com/"
                    target="_blank"><span>www.yedexpertises.com</span></a></span>
            <span>,
                l’application mobile Yed Immobilier et toutes déclinaisons éventuelles sur
                différents supports.</span>
        </p>
    
        <p><b><span>Utilisateur</span></b><span>&nbsp;:
                désigne tout Internaute, qui crée un Compte Utilisateur sur le Site.</span></p>
    
        <p><b><span>Services</span></b><span>&nbsp;:
                désigne tous les services accessibles via le Site.</span></p>
    
        <p><b><span>Société</span></b><span>&nbsp;:
                désigne la société Yed Expertise.</span></p>
    
        <p><b><span>Fonctionnalités,
                    utilisation et souscription aux services</span></b></p>
    
        <p><span>La Société met à disposition une
                plateforme en ligne qui permet&nbsp;:</span></p>
    
        <ul type=disc>
            <li><span>Aux particuliers&nbsp;: de
                    rechercher des offres de location ou d’achat de biens immobiliers (neufs
                    ou anciens), et de bénéficier des différents Services associés ;</span></li>
            <li><span>Aux professionnels&nbsp;: de
                    diffuser leurs offres de location ou de vente de biens immobiliers (neufs
                    ou anciens), et de bénéficier des différents Services associés.</span></li>
        </ul>
    
        <p><span>Lors de sa navigation sur le Site,
                l’Internaute peut bénéficier de différents Services tels que les Services de
                recherche des offres de location ou d’achat de biens immobiliers (neufs ou anciens)
                pour les particuliers, qui sont accessibles aux Internautes sans condition de
                création d’un Compte Utilisateur Personnel.</span></p>
    
        <p><span>Le Compte Utilisateur Personnel
                permet à l’Internaute d’accéder à différents Services proposés par le Site,
                notamment&nbsp;:</span></p>
    
        <ul type=disc>
            <li><span>la création d’alertes via
                    e-mails ou via notifications push mobiles&nbsp;: l’adresse utilisée pour
                    l’inscription aux alertes sera celle renseignée lors de la création ou
                    modification de son Compte Utilisateur Personnel. L’Utilisateur peut
                    configurer son alerte (en choisissant son nom et sa périodicité) ou la
                    gérer après sa création (notamment en la supprimant ou en la renommant).</span></li>
            <li><span>la sauvegarde des
                    favoris&nbsp;: les favoris sont stockés sur son Compte utilisateur
                    Personnel.</span></li>
            <li><span>le partage d’annonces par
                    e-mail avec les personnes auxquelles l’Utilisateur souhaite envoyer
                    l’annonce.</span></li>
            <li><span>la gestion de ses
                    abonnements&nbsp;: cette fonctionnalité permet à l’Utilisateur de modifier
                    ses abonnements, notamment quant à la réception de divers documents
                    d’information ou commerciaux (exemples&nbsp;: offres et services de la
                    Société, des partenaires, annonces ou informations correspondant aux
                    recherches précédentes, newsletters).</span></li>
            <li><span>la modification de son Compte
                    Utilisateur Personnel&nbsp;: cette fonctionnalité permet à l’Utilisateur
                    de modifier les données qu’il a enregistrées lors de la création de son
                    Compte Utilisateur Personnel (e-mail, mot de passe) </span></li>
            <li><span>la récupération de mot de
                    passe perdu&nbsp;: permet à l’Utilisateur de demander un nouveau mot de
                    passe qui lui sera envoyé sur l’adresse e-mail qu’il a renseignée.</span></li>
        </ul>
    
        <p><span>A noter que certains services
                listés ci-dessus sont mis à disposition des Internautes sans qu’il ne soit
                nécessaire de créer un Compte Utilisateur, à savoir&nbsp;: la création d’une
                alerte (l’Internaute peut créer des alertes sur ses recherches directement
                depuis la page de résultats) ou l’ajout d’annonces immobilières en favori. Si
                l’Utilisateur n’est pas connecté, les favoris sont stockés dans un cookie, lui
                permettant de les retrouver lors de sa prochaine visite, s’il n’a pas effacé
                les cookies (voir clause Cookies).</span></p>
    
        <p><span>Lors de la création du Compte
                Utilisateur Personnels, l’Internaute&nbsp;:</span></p>
    
        <ul type=disc>
            <li><span>garantit que les informations
                    qu’il transmet, en particulier les Données à caractère personnel, sont
                    exactes, sincères et à jour.</span></li>
            <li><span>doit accepter les présentes
                    Conditions Générales d’Utilisation.</span></li>
        </ul>
    
        <p><span>Un e-mail d’information de création
                de Compte Utilisateur est automatiquement envoyé à l’adresse e-mail indiquée.</span></p>
    
        <p><span>L’Utilisateur est informé qu’il
                peut créer son compte soit sur le Site, soit via Facebook, Google en utilisant
                ses identifiants habituels sur ces plateformes.</span></p>
    
        <p>
            <span>Dans tous les cas, les Internautes
                ont la possibilité de demander des informations ou fournir leurs avis sur le
                Site via les formulaires de contact.</span>
        </p>
    
        <p><span>Les demandes d’information
                concernent&nbsp;:</span></p>
    
        <ul type=disc>
            <li><span>soit les annonces de biens
                    immobiliers (location ou vente, immeuble ancien ou neuf)&nbsp;: dans ce
                    cas, la demande accompagnée des données déclaratives fournies par
                    l’Internaute est transmise à l’agence ou aux promoteurs immobiliers qui
                    sont les auteurs de l’annonce concernée ;</span></li>
            <li><span lang=FR style='font-size:
               12.0pt;font-family:"Times New Roman",serif'>soit des informations
                    générales concernant le Site&nbsp;: dans ce cas la demande est prise en
                    charge directement par la Société.</span></li>
        </ul>
    
        <p><span>La fourniture des avis permet à
                l’Internaute de participer à l’amélioration du Site et au développement de
                nouveaux Services. Les avis et suggestions des Internautes sont pris en compte
                directement par la Société.</span></p>
    
        <p><span>Dans le cadre des formulaires de
                contact, l’Utilisateur est amené à renseigner un certain nombre d’informations
                obligatoires. Si la demande d’information émane d’Utilisateurs disposant d’un
                Compte Utilisateur Personnel, certains champs sont pré-remplis et peuvent être
                modifiés avant envoi.</span></p>
    
        <p><b><span>Utilisations
                    autorisées</span></b></p>
    
        <p><span>L’Internaute ou d’une manière
                générale tout tiers, personne physique ou morale, n’est pas autorisé à utiliser
                le Site à d’autres fins que dans le cadre de l’utilisation des Services décrits
                ci-dessus.</span></p>
    
        <p><span>L’utilisation de systèmes
                automatisés ou de logiciels pour consulter, extraire ou collecter des données
                du Site à des fins commerciales illégales ou légales mais non autorisées par la
                Société et lui portant préjudice est interdite.</span></p>
    
        <p><span>La Société se réserve le droit de
                (i) mettre en place tout système de protection qu’elle jugera utile pour
                empêcher ou stopper tout système ou logiciel automatisé ou non et/ou toute
                action visant à extraire ou collecter toute donnée des Services et du Site, et
                (ii) d’intenter toute action ou réclamation nécessaire à l’effet d’empêcher,
                faire cesser et sanctionner toute atteinte à ses droits sur les Services et le
                Site, y compris dans le cadre de poursuites judiciaires, et ce sans mise en
                demeure préalable.</span></p>
    
        <p><b><span>Accès au site et
                    disponibilité du site</span></b></p>
    
        <p><span>Les Services sont librement
                accessibles en ligne sur le Site Internet de la Société.</span></p>
    
        <p><span>L’accès au Site et aux Services qui
                y sont proposés est réservé aux Utilisateurs majeurs. A cet effet, Yed
                Expertise se réserve le droit (i) de procéder à tout contrôle concernant l’âge
                de la personne concernée et (ii) le cas échéant, de supprimer immédiatement
                tout Compte Utilisateur et/ou d’annuler toute commande en cours si cette
                condition n’était pas remplie.</span></p>
    
        <p><span>La Société fait ses meilleurs
                efforts afin de rendre le Site disponible 24 heures sur 24 et 7 jours sur 7,
                indépendamment des opérations de maintenance du Site et/ou Serveurs et/ou du
                Site Internet. A ce titre, la Société est tenue d’une obligation de moyen. Le
                téléchargement de l’application Android nécessite l’acception des CGU du
                magasin d’applications respectif. La Société ne peut être responsable
                d’éventuels dysfonctionnements de téléchargements sur du Play Store de Google.</span></p>
    
        <p><span>L’Internaute reconnaît disposer de
                la compétence et des moyens nécessaires pour accéder et utiliser le Site, avoir
                vérifié que la configuration informatique utilisée par lui ne contient aucun
                virus et qu’elle est en bon état de fonctionnement.</span></p>
    
        <p><span>La Société se réserve la
                possibilité de modifier, interrompre, à tout moment, temporairement ou de
                manière permanente tout ou partie du Site sans information préalable des
                Internautes et sans droit à indemnités, la Société ne pouvant être tenue responsable
                des conséquences résultant de telles interruptions ou modifications.</span></p>
    
        <p><span>Plus généralement, la Société se
                réserve le droit d’apporter toutes modifications de quelque nature qu’elles
                soient au contenu du site.</span></p>
    
        <p><b><span>Utilisation du
                    Site et des Services</span></b></p>
    
        <p><span>Les Internautes et Utilisateurs
                s’engagent à utiliser le Site et les Services conformément aux dispositions des
                présentes Conditions Générales d’Utilisation.</span></p>
    
        <p><span>Les Internautes et Utilisateurs
                s’engagent à ne pas utiliser le Site et/ou les Services&nbsp;:</span></p>
    
        <ul type=disc>
            <li><span>à des fins illicites,
                    contraires à l’ordre public ou aux bonnes mœurs,</span></li>
            <li><span>en violation des dispositions
                    des lois ou règlements applicables ou des droits d’un tiers,</span></li>
            <li><span>à des fins susceptibles de
                    causer des pertes ou dommages quels qu’ils soient,</span></li>
            <li><span>à des fins non-conformes aux
                    règles d’utilisation des Services telles que fixées par la Société dans
                    ses Conditions Générales de Vente.</span></li>
        </ul>
    
        <p><span>L’Utilisateur reconnaît qu’il est
                le seul responsable des informations qu’il transmet dans le cadre de son
                utilisation du Site. L’Utilisateur s’engage notamment à ce que toute
                information qu’il communique&nbsp;:</span></p>
    
        <ul type=disc>
            <li><span>Soit vraie, exacte, à jour,
                    complète et en aucun cas de nature à induire Yed Expertise ou les tiers en
                    erreur. L’utilisateur s’engage à ce titre à mettre à jour les informations
                    qu’il a communiquées initialement si ces dernières ont changé ;</span></li>
            <li><span>Soit licite et en aucun cas de
                    nature diffamatoire ou attentatoire à l’ordre public ainsi qu’aux intérêts
                    et/ou à l’image de Yed Expertise ou de tout tiers. L’Utilisateur s’engage
                    à ce titre à ne pas créer une fausse identité et à ne pas usurper
                    l’identité d’une autre personne physique ou morale ;</span></li>
            <li><span>Ne contienne du pollupostage
                    («&nbsp;spams&nbsp;») ;</span></li>
            <li><span>Ne contienne aucun contenu
                    nuisible aux systèmes informatiques de Yed Expertise ou de tout tiers
                    (tels que virus, vers, chevaux de Troie, etc.) ;</span></li>
            <li><span>Ne soit de nature à porter
                    atteinte aux droits et intérêts commerciaux, financiers ou moraux de de Yed
                    Expertise ou de tout autre Utilisateur.</span></li>
        </ul>
    
        <p><span>La Société se réserve le droit de
                suspendre l’accès aux Services (aux Internautes et Utilisateurs), de supprimer
                sans délais les contenus concernés et de résilier les Comptes Utilisateurs des
                Internautes et Utilisateurs (selon le cas) qui auraient enfreint les
                dispositions des présentes Conditions Générales d’Utilisation et notamment
                celles visées ci-dessus, nonobstant l’indemnisation de la Société de l’ensemble
                des préjudices subis.</span></p>
    
        <p><b><span>Propriété
                    intellectuelle</span></b></p>
    
        <p><span>La Société est le titulaire ou le
                concessionnaire des droits de propriété intellectuelle de la structure générale
                du Site Internet, ainsi que des contenus désignés expressément comme étant de
                «&nbsp;source Yed Expertise&nbsp;».</span></p>
    
        <p><span>En revanche, la Société n’est ni
                propriétaire, ni responsable, à quelque titre que ce soit et même si elle est
                concessionnaire des droits de propriété intellectuelle, de l’intégralité des
                autres contenus sur le Site (notamment des annonces, textes, slogans,
                graphiques, images, vidéos, photos, et autres contenus), dont la responsabilité
                incombe exclusivement à leurs titulaires (notamment les annonceurs – agences ou
                promoteurs immobiliers qui sont auteurs des offres publiées, ou bien les
                différents fournisseurs de données).</span></p>
    
        <p><span>Toute représentation, reproduction,
                modification, dénaturation et/ou exploitation totale ou partielle du Site
                Internet et/ou de son contenu (quel qu’en soit l’auteur) et/ou des Services,
                par quelque procédé que ce soit et sur quelque support que ce soit, sans
                l’autorisation expresse et préalable de la Société ou de l’auteur du contenu,
                selon les cas, est prohibée et constitue des actes de contrefaçon de droits
                d’auteur.</span></p>
    
        <p><span>Les marques, logos, dénominations
                sociales, sigles, noms commerciaux, enseignes et/ou nom de domaine de la Société,
                de ses différents partenaires mentionnés sur le Site Internet, ainsi que des
                annonceurs, permettant l’accès aux Services mis à disposition par la Société,
                constituent des signes distinctifs insusceptibles d’utilisation sans
                l’autorisation expresse et préalable de leur titulaire.</span></p>
    
        <p><b><span>Données
                    personnelles – CNIL</span></b></p>
    
        <p><b><span>Traitement des
                    données personnelles</span></b></p>
    
        <p><span>La Société, en tant que responsable
                de traitement, met en œuvre un traitement de données à caractère personnel
                ayant pour finalité notamment la création et la gestion du Compte Utilisateur,
                la mise en relation avec une ou plusieurs agences partenaires préalablement
                sélectionnées en vue d’obtenir des informations complémentaires ou la prise de
                rendez-vous ainsi que l’amélioration de notre offre de service.</span></p>
    
        <p><span>Ces traitements sont mis en œuvre
                soit sur la base de votre consentement, soit sur la base de l’exécution d’un
                contrat auquel vous êtes partie, ou l’exécution de mesures précontractuelles
                prises à votre demande, soit sur la base de notre intérêt légitime.</span></p>
    
        <p><span>Les agences partenaires
                susceptibles de recevoir vos données agissent en qualité de responsable de
                traitement indépendant et sont liées par une clause de confidentialité et de
                respect des données à caractère personnel. Le traitement des données reçues par
                ces dernières se fait ainsi sous leur propre responsabilité et conformément à
                leur propre politique de protection des données.</span></p>
    
        <p><span>Pour plus de détails concernant le
                traitement de vos données à caractère personnel, y compris les catégories de
                données collectées et les finalités de traitement, nous vous invitons à
                consulter notre <u><span>Politique de confidentialité</span></u>.
            </span></p>
    
        <p><span>L’Internaute ou l’Utilisateur
                bénéficie d’un droit d’information, d’accès, de rectification, d’effacement de
                ses données, ainsi que d’un droit de limitation du traitement. Toute personne
                concernée dispose en outre d’un droit d’opposition y compris à la prospection
                commerciale. Par ailleurs, toute personne dispose d’un droit de formuler des
                directives spécifiques et générales concernant la conservation, l’effacement et
                la communication de ses données post-mortem.</span></p>
    
        <p><span>Ces droits peuvent être exercés
                auprès du délégué à la protection des données (DPO) par courrier électronique à
                l’adresse </span><span><a
                    href="mailto:dpo@yedimmobilier.com"><span>dpo@yedimmobilier.com</span></a></span><span> ou par
                courrier au Service Informatique et Libertés de Yed Expertise, 02 BP 5959 Ouaga
                02, secteur 26, rue du Mgr Yougbare  accompagnée d’une copie d’un titre
                d’identité signé.</span></p>
    
        <p><span>Ils ont le droit d’introduire une
                réclamation auprès de la Commission Nationale de l’Informatique et des Libertés
                (CNIL), autorité de contrôle en charge du respect des obligations en matière de
                données à caractère personnel.</span></p>
    
        <p><b><span>Cookies</span></b></p>
    
        <p><span>Le Site a été conçu pour répondre
                aux besoins des Internautes et des Utilisateurs. Il fonctionne avec des
                cookies.</span></p>
    
        <p><span>Lire notre </span><span lang=FR><a href="https://www.yedexpertises.com/privacy-policy/"><span>Politique de
                        confidentialité</span></a></span><span>.</span></p>
    
        <p><b><span>Limitation de
                    responsabilité</span></b></p>
    
        <p><span>Les informations données sur le
                Site n’ont pas un caractère contractuel. Les visuels liés aux annonces sont
                publiés sous la responsabilité des annonceurs. Les illustrations nécessaires à
                la présentation des programmes neufs, des constructions en cours ou à venir,
                sont non contractuelles et à caractère d’ambiance. Pour nous signaler une
                anomalie sur les contenus en ligne, vous pouvez nous écrire </span><span><a
                    href="https://www.yedexpertises.com/contact-us/"
                    target="_blank"><span>ici</span></a></span><span>.</span></p>
    
        <p><span>L’Internaute ou l’Utilisateur est
                seul responsable de l’utilisation qu’il fait du Site Internet et des Services
                auxquels il accède depuis le Site Internet.</span></p>
    
        <p><span>La Société ne pourra en aucun cas
                être tenue responsable dans le cadre d’une procédure introduite à l’encontre de
                l’Internaute ou de l’Utilisateur qui se serait rendu coupable d’une utilisation
                non-conforme du Site Internet et/ou des Services qu’il procure.</span></p>
    
        <p><span>L’Internaute ou l’Utilisateur
                reconnaît et accepte à cet égard qu’il fera son affaire personnelle de toute
                réclamation ou procédure formée contre la Société, du fait de l’utilisation
                non-conforme par lui des Services et/ou du Site Internet.</span></p>
    
        <p><span>En toute hypothèse, la Société ne
                saurait être responsable&nbsp;:</span></p>
    
        <ul type=disc>
            <li><span>en cas d’indisponibilité des
                    Services pour des raisons telles que la défaillance du réseau public
                    d’électricité, la défaillance des réseaux câblés de télécommunications, la
                    perte de connectivité au réseau Internet due aux opérateurs publics ou
                    privés, notamment de l’Internaute ou de l’Utilisateur, dont les causes
                    proviennent notamment de grèves, de tempêtes, de tremblements de terre ou
                    de toute autre cause ayant les caractéristiques de la force majeure ;</span></li>
            <li><span>en cas d’utilisation des
                    Services par un Internaute ou un Utilisateur dans des conditions
                    non-conformes aux termes des présentes Conditions Générales
                    d’Utilisation ;</span></li>
            <li><span>dans les limites de la
                    législation en vigueur, pour tout dommage indirect et ce y compris
                    notamment les pertes de profit, de données ou tout autre perte de biens
                    incorporels, et ce même si la Société a été informée de la potentialité de
                    tels dommages, pouvant survenir (i) de l’utilisation ou de l’impossibilité
                    d’utiliser les Services (ii) suite à l’accès auxdits Services par un
                    Internaute ou un Utilisateur non autorisé.</span></li>
        </ul>
    
        <p><span>La Société ne saurait être tenue
                responsable de tout dysfonctionnement de quelque nature qu’il soit relatif au
                matériel informatique de l’Internaute ou de l’Utilisateur ainsi qu’à sa
                connexion d’accès à Internet, lors de l’accès au Site Internet et plus
                généralement aux Services. Plus particulièrement, la Société ne saurait
                garantir l’Internaute ou l’Utilisateur des Services sur&nbsp;:</span></p>
    
        <ul type=disc>
            <li><span>les problèmes de vitesses
                    d’accès aux Sites et/ou de vitesse de mise en mémoire tampon de
                    l’ordinateur de l’Internaute ou l’Utilisateur des vidéos accessibles via
                    les Services que l’Utilisateur serait susceptible de rencontrer ;</span></li>
            <li><span>la qualité des textes,
                    informations, descriptifs, photographies et vidéos publiées sur le Site.</span></li>
        </ul>
    
        <p><span>Les taux de transfert et de
                téléchargement à partir du Site ne sont pas garantis.</span></p>
    
        <p><span>La société n’est pas considérée
                comme responsable de l’utilisation frauduleuse par un tiers de l’e-mail, du mot
                de passe ou des autres données de l’Internaute ou l’Utilisateur.</span></p>
    
        <p><span>La Société ne garantit en aucun cas
                la conclusion de contrats dans le cadre des Services entre d’une part, les Internautes
                ou les Utilisateurs du Site et d’autre part, les annonceurs et/ou les
                différents partenaires ou prestataires qui entrent en contact avec eux par le
                biais du Site. Tout échange, et tout éventuel contrat qui serait signé entre
                les Internautes ou les Utilisateurs du Site, et les annonceurs et/ou les
                différents partenaires ou prestataires qui entrent en contact avec eux par le
                biais du Site, suite à ces échanges, sont sous l’entière responsabilité de ces
                derniers.</span></p>
    
        <p><span>La Société n’est pas tenue responsable
                de tout dommage ou de tout préjudice résultant de toutes communications,
                interactions, relations, contrats, ou litiges de toute nature avec une personne
                qui a contacté l’Internaute ou l’Utilisateur via le Site ou à l’occasion de son
                utilisation. En particulier, et sans que cette liste soit limitative, la
                Société ne pourra être tenue pour responsable en cas d’annonce inexacte, de non
                conclusion de contrats, d’insolvabilité d’un cocontractant, de non-conformité
                d’un logement, etc.</span></p>
    
        <p><b><span>Force majeure</span></b></p>
    
        <p><span>La responsabilité de la Société ne
                pourra pas être recherchée si l’exécution de l’une de ses obligations est
                empêchée ou retardée en raison d’un cas de force majeure tel que défini par la
                jurisprudence des Tribunaux français, et notamment les catastrophes naturelles,
                incendies, dysfonctionnement ou interruption du réseau de télécommunications ou
                du réseau électrique. Les obligations de l’Utilisateur et de la Société seront
                suspendues et leur responsabilité ne saurait être engagée dans de pareils cas.</span></p>
    
        <p><b><span>Suspension des services
                    et résiliation des comptes utilisateurs personnels</span></b></p>
    
        <p><b><span>A l’initiative de
                    l’Utilisateur&nbsp;: Clôture du Compte Utilisateur Personnel</span></b></p>
    
        <p><span>L’Utilisateur peut clôturer son
                Compte Utilisateur personnel à tout moment. Cette demande s’effectue via les
                liens disponibles sur le Site et prévus à ces effets, ou par e-mail à l’adresse
                suivante&nbsp;: </span><span><a
                    href="mailto:resiliation@yedimmobilier.com"><span>resiliation@yedimmobilier.com</span></a></span><span>.</span>
        </p>
    
        <p><b><span>Suspension des
                    Services ou Résiliation du Compte utilisateur personnel à l’initiative de la
                    Société</span></b></p>
    
        <p><span>La Société se réserve le droit
                d’interrompre de façon temporaire les Services, et de résilier les Comptes
                Utilisateurs Personnels, pour des raisons liées à la sécurité du Site et/ou des
                Services, ou dans les cas prévus aux présentes.</span></p>
    
        <p><b><span>Conséquences liées
                    à la résiliation des comptes utilisateurs personnels</span></b></p>
    
        <p><span>La résiliation d’un Compte
                Utilisateur Personnel entraîne la fin de la fourniture des Services nécessitant
                un Compte Utilisateur Personnel.</span></p>
    
        <p><b><span>Permanence</span></b></p>
    
        <p><span>La nullité d’une clause quelconque
                des Conditions Générales d’Utilisation n’affecte pas la validité des autres
                clauses ; elle se poursuit en l’absence du dispositif annulé sauf si la clause
                annulée rend la poursuite des relations contractuelles impossible ou
                déséquilibrée par rapport aux conventions initiales.</span></p>
    
        <p><b><span>Réclamation</span></b></p>
    
        <p><span>Toute réclamation doit être
                adressée à la Société via les formulaires de contact disponibles sur le Site.</span></p>
    
        <p><b><span>Intitulé des
                    clauses</span></b></p>
    
        <p><span>Les intitulés portés en tête de
                chaque article ne servent qu’à la commodité de la lecture et ne peuvent en
                aucun cas être le prétexte d’une quelconque interprétation ou dénaturation des
                clauses sur lesquelles ils portent. En cas de difficulté d’interprétation ou de
                contradiction entre le contenu d’une clause et son titre, ce dernier est réputé
                non écrit.</span></p>
    
        <p><b><span>Droit applicable -
                    Attribution de compétence</span></b></p>
    
        <p><span>Les présentes Conditions Générales
                d’Utilisation sont soumises au droit français. Toute contestation de quelque
                nature qu’elle soit, relative à l’application des présentes Conditions
                Générales et à l’utilisation et à la consultation du Site, doit, à défaut
                d’accord amiable entre les parties, être portée devant les Tribunaux français
                seuls compétents.</span></p>
    
        <p><b><span>Informations
                    générales</span></b></p>
    
        <p><span>En plus des autres informations
                visées dans les présentes Conditions Générales d’Utilisation, il est indiqué
                que&nbsp;: la Société ne fait que mettre en relation, selon les modalités
                décrites dans les présentes Conditions Générales d’Utilisation, des
                professionnels (agences immobilières ou promoteurs immobiliers) et des
                particuliers en vue de l’éventuelle conclusion d’une vente ou d’une location de
                biens immobiliers neufs ou anciens ; la Société n’intervient pas dans les
                litiges qui pourraient exister entre les particuliers et les professionnels
                susvisés. La Société n’est pas partie à leur relation contractuelle directe.</span></p>
    
    </div>
</div>
<app-footer></app-footer>