<div class="site-content">
    <div class="contactpage">
        <div class="contact">
            <div class="contactus">
                <div class="overlay">
                  Nous Contacter        </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4" ><i class="fa fa-phone" aria-hidden="true"></i><br><h4>Téléphone</h4><br>
                   <p><a href="tel:{{ contactDetails.phone}}">{{ contactDetails.phone}}</a></p>
                </div>
                <div class="col-sm-4"><i class="fa fa-map-marker" aria-hidden="true"></i><br><h4>Localisation</h4><br>
                    <p>{{ contactDetails.location}}</p>
                </div>
                <div class="col-sm-4"><i class="fa fa-envelope" aria-hidden="true"></i><br><h4>E-mail</h4><br>
                    <p><a href="mailto:{{ contactDetails.email }}">{{ contactDetails.email}}</a></p></div>
                  
                    </div>
        
            </div>
        </div>
        </div>
        
</div>
<app-footer></app-footer>