<div class="contactpage">
<div class="contact">
    <div class="contactus">
        <div class="overlay">
           Contact Us
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" ><i class="fa fa-phone" aria-hidden="true"></i><br><h2>Call Us</h2><br>
           <p><a href="tel:{{ contactDetails.phone}}">{{ contactDetails.phone}}</a></p>
        </div>
        <div class="col-sm-4"><i class="fa fa-map-marker" aria-hidden="true"></i><br><h2>Location</h2><br>
            <p>{{ contactDetails.location}}</p>
        </div>
        <div class="col-sm-4"><i class="fa fa-envelope" aria-hidden="true"></i><br><h2>E-Mail Us</h2><br>
            <p><a href="mailto:{{ contactDetails.email }}">{{ contactDetails.email}}</a></p></div>
          
            </div>

    </div>
</div>
</div>

<app-footer></app-footer>