<div class="publish">
    <div class="about">
        <div class="aboutus">
            <div class="overlay">
                YED Expertises
            </div>
        </div>
        <div class="container">
            <div class="row publish-form p-3">
                <div class="col-md-3">
                </div>
                <div class="btn-group mt-4 mb-4" role="group" aria-label="Basic radio toggle button">
                    <input type="radio" [(ngModel)]="updatedata.purpose" class="btn-check mt-4" name="sale" id="sale"
                        autocomplete="off" value="sale">
                    <label class="btn btn-outline-primary" for="sale">À vendre</label>

                    <input type="radio" [(ngModel)]="updatedata.purpose" class="btn-check" name="rent" id="rent"
                        autocomplete="off" value="rent">
                    <label class="btn btn-outline-primary" for="rent">À louer</label>

                </div>
                <div class="search ">
                    <label><b>Libellé</b></label>
                    <input type="text" [(ngModel)]="updatedata.title" class="form-control">
                </div>
                <div class="search ">
                    <label><b>Description</b></label>
                    <input type="text" [(ngModel)]="updatedata.description" class="form-control">
                </div>
                <div class="search" *ngIf="updatedata.purpose == 'sale'">
                    <label><b>Prix</b></label>
                    <input type="text" class="form-control" [(ngModel)]="updatedata.price">
                </div>
                <div class="search" *ngIf="updatedata.purpose != 'sale'">
                    <label><b>Prix/Mois</b></label>
                    <input type="text" class="form-control" [(ngModel)]="updatedata.price_per_month">
                </div>
                <div class="search">
                    <label><b>Type</b></label>
                    <select class="form-control" [(ngModel)]="updatedata.type[0]">
                        <option value="">-- Select --</option>
                        <option *ngFor="let type of typesList;let i = index;" value="{{type.id}}">{{type.name}}</option>
                    </select>
                </div>
                <div class="search ">
                    <label><b>Surface terrain(m2)</b></label>
                    <input type="text" class="form-control" [(ngModel)]="updatedata.area">
                </div>
                <div class="search"
                    *ngIf="getMetaName(updatedata.type[0], typesList) =='Appartement' || getMetaName(updatedata.type[0], typesList) =='Villa' || getMetaName(updatedata.type[0], typesList) =='Duplex'">
                    <label><b>Nb de chambres</b></label>
                    <input type="number" class="form-control" [(ngModel)]="updatedata.number_of_bedrooms">
                </div>
                <div class="search"
                    *ngIf="getMetaName(updatedata.type[0], typesList) =='Appartement' || getMetaName(updatedata.type[0], typesList) =='Villa' || getMetaName(updatedata.type[0], typesList) =='Duplex'">
                    <label><b>Nb de salles de bain</b></label>
                    <input type="number" class="form-control" [(ngModel)]="updatedata.number_of_bathrooms">
                </div>
                <div class="search"
                    *ngIf="getMetaName(updatedata.type[0], typesList) =='Champ' || getMetaName(updatedata.type[0], typesList) =='Magasin' || getMetaName(updatedata.type[0], typesList) =='Boutique' || getMetaName(updatedata.type[0], typesList) =='Bureau'">
                    <label><b>Nbre de pièces</b></label>
                    <input type="number" class="form-control" [(ngModel)]="updatedata.number_of_rooms">
                </div>
                <div class="search"
                    *ngIf="getMetaName(updatedata.type[0], typesList) =='Champ' || getMetaName(updatedata.type[0], typesList) =='Magasin' || getMetaName(updatedata.type[0], typesList) =='Boutique' || getMetaName(updatedata.type[0], typesList) =='Bureau'">
                    <label><b>Nbre de toilettes</b></label>
                    <input type="number" class="form-control" [(ngModel)]="updatedata.number_of_toilets">
                </div>
                <div class="search" *ngIf="updatedata.purpose == 'rent'">
                    <label><b>Type de location</b></label>
                    <select class="form-control" [(ngModel)]="updatedata.type_of_rental">
                        <option value="">-- Select --</option>
                        <option *ngFor="let rental of rentalsList;let i = index;" value="{{rental.id}}">{{rental.name}}
                        </option>
                    </select>
                </div>
                <div class="search">
                    <label><b>Localisation</b></label>
                    <input type="text" class="form-control" [(ngModel)]="updatedata.location"
                        ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                        (onAddressChange)="handleAddressChange($event)">
                </div>
                <div class="search mb-3">
                    <label><b>Mots-clés de localisation</b></label>
                    <ngx-tags-input class="form-control input-lg" [(ngModel)]="updatedata.location_tags"
                        placeholder="+Mots-clés"></ngx-tags-input>
                </div>
                <div class="search mb-3">
                    <label><b>Image à la une</b></label>
                    <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label *ngIf="!updatedata.featured_image">Déposez les fichiers ici ou cliquez pour télécharger</ngx-dropzone-label>
                        <div class="uploaded_image" *ngIf="updatedata.featured_image">
                            <img src="{{updatedata.featured_image}}">
                        </div>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of featured" [file]="f">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    
                </div>
                <div class="search mb-3">
                    <label><b>Images</b></label>
                    <ngx-dropzone (change)="onSelectGallery($event)">
                        <ngx-dropzone-label *ngIf="!updatedata.gallery.length">Déposez les fichiers ici ou cliquez pour télécharger</ngx-dropzone-label>
                        <div class="uploaded_image" *ngFor="let f of updatedata.gallery; let i = index;">
                            <img src="{{f.url}}">
                            <span (click)="onRemoveGallery(i)"><svg ><line  x1="0" y1="0" x2="10" y2="10"></line><line x1="0" y1="10" x2="10" y2="0"></line></svg></span>
                        </div>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of gallery"
                            [removable]="true" [file]="f" (removed)="onRemoveImage(f)">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>


                <div class="search" *ngIf="getMetaName(updatedata.type[0], typesList) !='Terrain'">
                    <label><b>Commodites</b></label>
                    <div class="form-check" *ngFor="let  amenities of  amenitieslist;let i = index;">
                        <input class="form-check-input" id="{{ amenities.id}}" type="checkbox"
                            [(ngModel)]=" amenities.checked">
                        <label class="form-check-label" for="{{ amenities.id}}">
                            {{amenities.name}}
                        </label>
                    </div>
                </div>


                <button type="button" class="louer un-bien" (click)="update()">Mettre à jour<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
            </div>

            <div class="col-md-3"></div>
        </div>

    </div>
</div>