<div class="site-content">
    <div class="favorite">
        <div class="overlay">
            Mes Biens
        </div>
    </div>
    <div class="container">
    
        <div class="col-md-12">
            <div class="row mt-5" [hidden]="!loading">
                <div class="col-12 col-sm-6" *ngFor="let i of [].constructor(10);">
                    <div class="ph-item">
                        <div class="ph-col-12">
                            <div class="ph-picture"></div>
                            <div class="ph-row">
                                <div class="ph-col-4"></div>
                                <div class="ph-col-8 empty"></div>
                                <div class="ph-col-12"></div>
                            </div>
                        </div>
                        <div class="ph-col-2">
                            <div class="ph-avatar"></div>
                        </div>
                        <div>
                            <div class="ph-row">
                                <div class="ph-col-12"></div>
                                <div class="ph-col-2"></div>
                                <div class="ph-col-10 empty"></div>
                                <div class="ph-col-8 big"></div>
                                <div class="ph-col-4 big empty"></div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 listing-colum" *ngFor="let property of propertyList | paginate: { itemsPerPage: config.itemsPerPage, currentPage: config.currentPage, totalItems: config.totalItems}; let i = index;" [hidden]="loading" (click)="goToLink('listings', property.id)">
                    <div class="overlay-loader" *ngIf="overlay"><i class="fa fa-spinner fa-spin"></i></div>
                    <div class="p-3">
                        <div class="listing-image" [ngStyle]="{ 'background-image': 'url('+property.featured+ ')'}">
                            <button class="like-button active" *ngIf="showIcon()" (click)="likeDislike(property, i)">
                                <i class="fa-solid fa-heart" *ngIf="property.favorite"></i>
                                <i class="fa fa-heart-o" *ngIf="!property.favorite"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <span class="id-badge text text-md"> #{{property.id}}</span>
    
                                <span class="id-badge text text-md" tooltip="{{property.username}}" placement="bottom"> {{ SubStringName(property.username)}}</span>
                            </div>
                            <div class="col-3 eye">
                                <i class="fa fa-eye" style="font-size:18px"></i>
                                <span>{{ property.viewCount }}</span>
                            </div>
                            <div class="col-4 a-vendra">
                                <button class="vendra">{{ property.purpose }}</button>
                            </div>
                        </div>
    
                        <div class="title card-title card-title-md">
                            <span class="primary-heading" tooltip="{{property.title}}" placement="bottom">{{ SubString(property.title) }}</span>
                        </div>
                        <div class="detail card-title card-title-md">
                            {{SubString(property.description) }}
                        </div>
                        <div class="col-md-4">
                            <p>{{ property.price }} {{ property.price_per_month }} {{property.currency}}</p>
                        </div>
                        <div class="col-md-4">
                            <p>{{ dateFormat(property.created_at)}}</p>
                        </div>
    
                        <div class="row contact grid-buttons">
                            <a href="mailto:{{property.contact_email}}" class="contact button-inner col-md-5">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                Contacter
                            </a>
                            <a href="tel:{{property.contact_phone}}" class="Telephone button-inner-1 col-md-5">
                                <i class="fa fa-phone" aria-hidden="true" style="color:#ff5722;"></i>
                                Telephone
                            </a>
                        </div>
    
                        <div class="col-md-1"></div>
                        <div class="space"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <pagination-controls (pageChange)="onPageChange($event)"
                        (pageBoundsCorrection)="onPageBoundsCorrection($event)" [directionLinks]="true" [autoHide]="true"
                        [responsive]="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>