<div class="left-image container-fluid mx-auto full-height">
    <div class="card card0 border-0 full-height">
        <div class="row d-flex full-height">
            <div class="col-lg-5 full-height">
                <div class="card1 pb-5"></div>
            </div>
            <div class="col-lg-7 px-5 right-box full-height">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">

                        <div class="panel">
                          <h2>Mot de passe oublié</h2>

                            <div class="form-group forgot">
                                <input type="email" class="form-control"
                                    placeholder="Email*" [(ngModel)]="userPayload.email">
                                <span class="required" *ngIf="error['email']"><i class="fa fa-warning"></i> Le champ email est obligatoire.</span>
                            </div>
                            <button class="louer un-bien" (click)="forgot()"> Réinitialiser<i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                            </button>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errormessage">
                                {{ errormessage }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <div class="alert alert-success alert-dismissible" *ngIf="successmessage">
                                {{ successmessage }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        </div>
                      
                       
                    </div>
                </div>
                <div class="col-lg-3"></div>

            </div>
        </div>
    </div>