<div class="left-image container-fluid mx-auto full-height">
    <div class="card card0 border-0 full-height">
        <div class="row d-flex full-height">
            <div class="col-lg-5 full-height">
                <div class="card1 pb-5"></div>
            </div>
            <div class="col-lg-7 px-5 right-box full-height">
                <div class="card2 card border-0 px-4 px-sm-5 py-5 pt-0">
                    <div class="panel">
                        <button class="louer un-bien" (click)="goToLink('login', 'individual')"> Je suis un particulier
                        </button>
                    </div>
                    <div class="separator"><span>OU</span></div>
                    <div class="panel" style="padding-bottom:30px;">
                        <button class="louer un-bien professional" (click)="goToLink('login', 'agent')"> Je suis un professionnel
                        </button>
                    </div>
                    <button class="louer un-bien search-button" (click)="goToLink('listings')"> Découvrir les annonces >
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>