<div class="about gray">
    <div class="aboutus"><div class="overlay">
        YED Expertises
    </div></div>
   
<h2>Yed Expertises (promotrice de l’application YED Immobilier) est une</h2>
<p class="small-font" ion-text color="gray">Yed Expertises (promotrice de l’application YED Immobilier) est une
    société indépendante et citoyenne qui se positionne aujourd’hui comme une entreprise incontournable dans les offres
    de services dans le domaine de l’immobilier et du conseil; qu’il s’agisse de l’expertise immobilière, de
    l’investissement immobilier ou de la gestion du portefeuille immobilier.
    Elle répond aux besoins d’une clientèle de particuliers, d’institutions et d’entreprises. <br>
    <br>
    <br>
    Ses activités s’articulent autour de trois pôles :
    <br>
    <br>
    ➔ l’Expertise immobilière,<br>
    ➔ l’investissement immobilier<br>
    ➔ l’agence immobilière (Location-Vente-Gestion)
</p>
</div>

<app-footer></app-footer>