<div class="header" role="banner">
  
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="col-md-3 logo-box">
          <a class="navbar-brand" href="/"><img src="../../../assets/images/logo-white.png"></a>
        </div>
        <button class="navbar-toggler" type="button" (click)="openNav()">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
          </svg>
        </button>
        <div class="col-md-6 full-width">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" aria-current="page" routerLink="">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']"  routerLink="/about">A propos</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']"  routerLink="/terms">Conditions générales d'utilisation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']"  routerLink="/contact">Contact</a>
              </li>
              </ul>
            </div>
        </div>
        <div class="col-md-3 right-menu">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="islogin()">
            <li class="nav-item">
              <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              <div class="dropdown" *ngIf="!loading">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="rounded-circle" width="40px" [attr.src]="profiledetails.profile_image" *ngIf="profiledetails.profile_image" />
                  <img class="rounded-circle" width="40px" src="../../../assets/images/person.png" *ngIf="!profiledetails.profile_image"/>
                <span> {{ profiledetails.name }}</span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" routerLink="publish">Publier</a></li>
                  <li><a class="dropdown-item" routerLink="myfavorites">Mes Favoris</a></li>
                  <li><a class="dropdown-item" routerLink="myproperties">Mes Biens</a></li>
                  <li><a class="dropdown-item" routerLink="profile">Mon Compte</a></li>
                  <li><a class="dropdown-item" (click)="logout()">Se déconnecter</a></li>
                </ul>
              </div>
            </li>          
          </ul>   
        </div>
        <div id="mySidenav" class="sidenav" [ngStyle]="{'width': navWidth}">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="islogin()">
            <li class="nav-item">
              <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              <div class="dropdown" *ngIf="!loading">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="rounded-circle" width="40px" [attr.src]="profiledetails.profile_image" *ngIf="profiledetails.profile_image" />
                  <img class="rounded-circle" width="40px" src="../../../assets/images/person.png" *ngIf="!profiledetails.profile_image"/>
                <span> {{ profiledetails.name }}</span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" routerLink="publish">Publier</a></li>
                  <li><a class="dropdown-item" routerLink="myfavorites">Mes Favoris</a></li>
                  <li><a class="dropdown-item" routerLink="myproperties">Mes Biens</a></li>
                  <li><a class="dropdown-item" routerLink="profile">Mon Compte</a></li>
                  <li><a class="dropdown-item" (click)="logout()">Se déconnecter</a></li>
                </ul>
              </div>
            </li>          
          </ul> 
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" [routerLinkActive]="['active']">A propos</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/terms" [routerLinkActive]="['active']">Conditions générales d'utilisation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" [routerLinkActive]="['active']">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
  </div>