:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
a{
  cursor: pointer;
}
  p {
    margin: 0;
  }
button{
background-color:transparent;
}


.fa{
  font-size: 24px;
  padding-right: 20px;
  
}
.navbar-brand img{
  width: 80%;
}
  .spacer {
    flex: 1;
  }
  .header {
    background-color: #FC4E05;
    color: white;
  }
.active {
  border-bottom: 2px solid;
}
  .toolbar img {
    margin: 0 16px;
  }
.dropdown-toggle{
  border: none;
}
  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }
.card-body{
  box-shadow: 4px 3px 9px 1px #cfcfcf;

}
  .content {
    margin: 82px auto 32px;
    padding: 0 16px;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
  .navbar{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  }
  .navbar ul li a{
    color: #fff;
  }
  .navbar-expand-lg .navbar-nav{
    margin: 0 auto;
  }
.dropdown-menu {
  background-color: #fff;
  border: none;
}
.dropdown-menu li a {
  color: black !important;
  text-decoration: none;
}
.user, button{
  color: #fff;
}
.dropdown-menu li a:hover {
background-color: #FC4E05;
color:#fff !important;
}
.joinus{
  background: #fff;
  color: #fc4e05 !important;
  border-radius: 0;
  font-weight: 500;
  padding: 10px 25px;
}