<footer class="text-center text-lg-start bg-light text-muted common">
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="footer p-4">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h3 class="text-uppercase fw-bold mb-4">
                <a class="navbar-brand" href="/"><img src="../assets/images/logo-white.png" style="margin-top: -20px;"></a>
            </h3>
            <p>
                Yed Expertises (promotrice de l’application YED Immobilier) est une société indépendante et citoyenne qui se positionne aujourd’hui comme une entreprise incontournable dans les offres de services dans le domaine de l’immobilier et du conseil; qu’il s’agisse de l’expertise immobilière, de l’investissement immobilier ou de la gestion du portefeuille immobilier
            </p>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4 useful">
              Useful links
            </h3>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="about">A propos</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" routerLink="terms">Conditions Générales d`nutilisation</a>
                </li>
                </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold mb-4 useful">Contact</h3>
            <p><i class="fa fa-map-marker me-3"></i> {{ contactDetails.location}}</p>
            <p>
              <i class="fa fa-envelope me-3"></i>
              <a href="mailto:{{contactDetails.email}}">{{contactDetails.email}}</a>
            </p>
            <p><i class="fa fa-phone me-3"></i> <a href="tel:{{contactDetails.phone}}">{{contactDetails.phone}}</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022
      <a class="text-reset fw-bold" href="https://yedimmobilier.com">yedimmobilier.com</a>
    </div>
    <!-- Copyright -->
  </footer>